@CHARSET "ISO-8859-1";

body
{
	background: url('../image/background.jpg');
	background-repeat: repeat; 
	
}

.bgWrapper{
	position:absolute;
	/* height: 1000px;  */
	width:100%; 
	top:0; 
	left:0;
}

.mainWrapper{
	width:1000px; 
	border-radius:10px;
	opacity: 0.8;
	/*-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;*/
	background:#fff;
	box-shadow:0px 0px 5px #fff;
	/*-moz-box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
	-o-box-shadow:0px 0px 5px #000;*/
	text-align:center;
	padding:25px;
	position:relative;
	margin:15px auto;
}

.inWrapper{
	height: auto;
	width: auto;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 0px 5px #000;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	display: block;
	
}

.addlink-form input[type="submit"] {
    background-color: orange;
	border: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	padding: 16px 24px;
	padding: 1.6rem 2.4rem;
	/*text-transform: uppercase;*/
	margin-left: 5px;
	width: auto;
}

.addlink-form input[type="submit"]:hover {
	text-transform: uppercase;
    background-color: red;
}
 
.addlink-form input[type="text"] {
    background-color: #CCCCCC;
	border: 10px;
	box-shadow: none;
	color: #000000;
	padding: 16px 24px;
	padding: 1.6rem 2.4rem;
	margin-left: 5px;
	width: 400px;
}
#panel,#flip
{
	width: 612px;
	padding:5px;
	text-align:center;
	background-color:#6D9AD0;
	border:solid 1px #c3c3c3;
	margin: 2px auto;
}
#panel
{
	padding:50px;
	display:none;
}
#flip: hover{
	background-color: #386AA3;

}

/*
https://github.com/TomLous/coursera-statistical-inference
https://github.com/gdwangh/coursera-dataScientists-7-Regression-Models
https://github.com/Xiaodan/Coursera-Practical-Machine-Learning
https://github.com/Xiaodan/Coursera-Developing-Data-Products
https://github.com/bquast/Data-Science-Capstone
*/
